################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/Game1/.vs/Game1/v16/Server/sqlite3
